<section class="section">
  <article class="media">
    <div class="media-content">
      <!--<div class="content has-text-centered">-->
              <div class="column is-one-thirds">


        <p>
          <strong class="is-size-1" style="font-family: cursive;">
            ラーメンShare
          </strong>
        </p>
      </div>
      </div>
      <!--<div class="container has-text-centered">-->
            <div class="column is-two-thirds">
                <h1 class="has-text-white is-size-2 has-text-weight-bold">あなたの好きな</h1>
      <h1 class="has-text-white is-size-2 has-text-weight-bold">ラーメンをシェアしよう！</h1>
        </div>
      </div>

      </div>
    </div>
  </article>
</section>





<!--星レビュースコアランキング-->
<section class="section">
  <div class="column is-6">
    <table class="table is-fullwidth">
      <tr>
        <td>
          <center><h2 class=" is-size-3 has-text-weight-bold">レビュー評価ランキング</h2></center>
        </td>
      </tr>
    </table>
  </div>
  <div class="container">
    <div class="columns is-multiline">
     <%  @scores_ranks.each.with_index(1) do |noodle, i|%>
        <div class="column is-12-mobile is-12-tablet is-4-desktop">


          <div class="card">

            <header class="card-left">
              <p class="card-header-title">
              <% url = 'https://twitter.com/share?url=http://54.168.154.26/noodles/'+ noodle.id.to_s %>
              <%= link_to url do %>
              <i class="fab fa-twitter-square fa-2x fa-blue"></i>
              <% end %>
                  レビュー評価  第
                  <%= i %>
                  位
              </p>
            </header>
            <div class="card-image">
            <figure class="image is-4by3">
              <%= link_to noodle_path(noodle) do %>
              <%= attachment_image_tag noodle, :image %>
              <% end %>
            </figure>
            </div>

            <div class="card-content">
                <% noodle.tags.each do |tag| %>
                  <span class="vision"><%= tag.name %></span>
                <% end %>
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <%= link_to user_path(noodle.user.id) do %>
                    <%= attachment_image_tag noodle.user, :profile_image, fallback: "no-image.png", class: "profile_image" %>
                    <% end %>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="title">
                    <%=link_to noodle.user.username, user_path(noodle.user) %>
                  </div>
                </div>
                <div class="media-right">
                  <div class="title">
                    <!--ajax-->
                    <div class="favorite_button_<%= noodle.id %>">
                    <%= render "favorites/favorite", favorite: @favorite, noodle: noodle %>
                    </div>

                </div>
                </div>
              </div>
                <header class="card-header">
                    <p class="card-header-title">
                      <%= noodle.title %>
                    </p>
                  </header>
              <div class="content">
                <div class="content average-score">
                  <div class="star-rating mb-2">
                    <div class="star-rating-front" style="width: <%= noodle.review_score_percentage %>%">
                      ★★★★★
                    </div>
                    <div class="star-rating-back">
                      ★★★★★
                    </div>
                  </div>
                  <div class="average-score-display ml-3 pt-2">
                    <%= noodle.avg_score %>点（<%= noodle.reviews.count %>件のレビュー）
                  </div>
                </div>
              </div>

              <div class="content">
                <time>
                  <%= noodle.updated_at.strftime("%Y-%m-%d %H:%M") %>
                </time>更新
              </div>

              <footer class="card-footer">
              <%= link_to noodle_reviews_path(noodle), class: "button card-footer-item" do %>
                レビューを見る
              <% end %>
              <%= link_to noodle_path(noodle), class: "button card-footer-item" do %>
                レビューを書く
              <% end %>

            </footer>
            </div>

          </div>
        </div>

      <% end %>
       <!--paginate @noodles -->
    </div>
  </div>
</section>



  <!--いいねランキング-->
  <section class="section">
    <div class="column is-6">
      <table class="table is-fullwidth">
        <tr>
          <td>
            <center><h2 class=" is-size-3 has-text-weight-bold">いいねランキング</h2></center>
          </td>
        </tr>
      </table>
    </div>
  <div class="container">
    <div class="columns is-multiline">
     <%  @favorites_ranks.each.with_index(1) do |noodle, i|%>
        <div class="column is-12-mobile is-12-tablet is-4-desktop">
          <div class="card">
            <header class="card-left">
              <p class="card-header-title">
              <% url = 'https://twitter.com/share?url=http://54.168.154.26/noodles/'+ noodle.id.to_s %>
              <%= link_to url do %>
              <i class="fab fa-twitter-square fa-2x fa-blue"></i>
              <% end %>


                  いいね数  第
                  <%= i %>
                  位
              </p>
            </header>

            <div class="card-image">
            <figure class="image is-4by3">
              <%= link_to noodle_path(noodle) do %>
              <%= attachment_image_tag noodle, :image %>
              <% end %>
            </figure>
            </div>

            <div class="card-content">
              <% noodle.tags.each do |tag| %>
                <span class="vision"><%= tag.name %></span>
              <% end %>
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <%= link_to user_path(noodle.user.id) do %>
                    <%= attachment_image_tag noodle.user, :profile_image, fallback: "no-image.png", class: "profile_image" %>
                    <% end %>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="title">
                    <%=link_to noodle.user.username, user_path(noodle.user) %>
                  </div>
                </div>
                <div class="media-right">
                  <div class="title">
                    <!--ajax-->
                    <div class="favorite_button_<%= noodle.id %>">
                    <%= render "favorites/favorite", favorite: @favorite, noodle: noodle %>
                  </div>
                </div>
                </div>
              </div>
              <header class="card-header">
                <p class="card-header-title">
                  <%= noodle.title %>
                </p>
              </header>
              <div class="content">
                <div class="content average-score">
                  <div class="star-rating mb-2">
                    <div class="star-rating-front" style="width: <%= noodle.review_score_percentage %>%">
                      ★★★★★
                    </div>
                    <div class="star-rating-back">
                      ★★★★★
                    </div>
                  </div>
                  <div class="average-score-display ml-3 pt-2">
                    <%= noodle.avg_score %>点（<%= noodle.reviews.count %>件のレビュー）
                  </div>
                </div>
              </div>

              <div class="content">
                <time>
                  <%= noodle.updated_at.strftime("%Y-%m-%d %H:%M") %>
                </time>更新
              </div>

              <footer class="card-footer">
              <%= link_to noodle_reviews_path(noodle), class: "button card-footer-item" do %>
                レビューを見る
              <% end %>
              <%= link_to noodle_path(noodle), class: "button card-footer-item" do %>
                レビューを書く
              <% end %>

            </footer>
            </div>

          </div>
        </div>

      <% end %>
       <!--paginate @noodles -->
    </div>
  </div>
</section>



<!--星レビュー数ランキング-->
  <section class="section">
    <div class="column is-6">
      <table class="table is-fullwidth">
        <tr>
          <td>
            <center><h2 class=" is-size-3 has-text-weight-bold">レビュー数ランキング</h2></center>
          </td>
        </tr>
      </table>
    </div>
  <div class="container">
    <div class="columns is-multiline">
     <%  @reviews_ranks.each.with_index(1) do |noodle, i|%>
        <div class="column is-12-mobile is-12-tablet is-4-desktop">
          <div class="card">
            <header class="card-left">
              <p class="card-header-title">
              <% url = 'https://twitter.com/share?url=http://54.168.154.26/noodles/'+ noodle.id.to_s %>
              <%= link_to url do %>
              <i class="fab fa-twitter-square fa-2x fa-blue"></i>
              <% end %>
                  レビュー数  第
                  <%= i %>
                  位
              </p>
            </header>
            <!--<header class="card-left">-->
            <!--  <p class="card-header-title">-->

            <!--  </p>-->
            <!--</header>-->

            <div class="card-image">
            <figure class="image is-4by3">
              <%= link_to noodle_path(noodle) do %>
              <%= attachment_image_tag noodle, :image %>
              <% end %>
            </figure>
            </div>

            <div class="card-content">
              <% noodle.tags.each do |tag| %>
                <span class="vision"><%= tag.name %></span>
              <% end %>
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <%= link_to user_path(noodle.user.id) do %>
                    <%= attachment_image_tag noodle.user, :profile_image, fallback: "no-image.png", class: "profile_image" %>
                    <% end %>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="title">
                    <%=link_to noodle.user.username, user_path(noodle.user) %>
                  </div>
                </div>
                <div class="media-right">
                  <div class="title">
                    <!--ajax-->
                    <div class="favorite_button_<%= noodle.id %>">
                    <%= render "favorites/favorite", favorite: @favorite, noodle: noodle %>
                    </div>

                </div>
                </div>
              </div>
              <div class="content">
                <div class="content average-score">
                  <div class="star-rating mb-2">
                    <div class="star-rating-front" style="width: <%= noodle.review_score_percentage %>%">
                      ★★★★★
                    </div>
                    <div class="star-rating-back">
                      ★★★★★
                    </div>
                  </div>
                  <div class="average-score-display ml-3 pt-2">
                    <%= noodle.avg_score %>点（<%= noodle.reviews.count %>件のレビュー）
                  </div>
                </div>
              </div>

              <div class="content">
                <time>
                  <%= noodle.updated_at.strftime("%Y-%m-%d %H:%M") %>
                </time>更新
              </div>

              <footer class="card-footer">
              <%= link_to noodle_reviews_path(noodle), class: "button card-footer-item" do %>
                レビューを見る
              <% end %>
              <%= link_to noodle_path(noodle), class: "button card-footer-item" do %>
                レビューを書く
              <% end %>

            </footer>
            </div>

          </div>
        </div>

      <% end %>
       <!--paginate @noodles -->
    </div>
  </div>
</section>


