  <div>
  <%  @favorites_ranks.each.with_index(1) do |noodle, i|%>
    第
    <%= i %>
    位
    <%= noodle.title %>

  <% end %>
  </div>
  <div>
  <%   @reviews_ranks.each.with_index(1) do |review, i |%>
    第
   <%= i %>
    位
  <%= review.title %>
  <% end %>
  </div>
  <div>
  <%   @scores_ranks.each.with_index(1) do |score, i |%>
    第
   <%= i %>
    位
  <%= score.title %>
  <% end %>
  </div>
<section class="section">
  <article class="media">
    <div class="media-content">
      <div class="content has-text-centered">
        <p>
          <strong class="is-size-1" style="font-family: cursive;">
            ラーメンShare
          </strong>
        </p>
      </div>
      <div class="container has-text-centered">
      <h1 class="has-text-white is-size-2 has-text-weight-bold">あなたの好きな</h1>
      <h1 class="has-text-white is-size-2 has-text-weight-bold">ラーメンをシェアしよう！</h1>
      </div>
    </div>
    </article>
    <br>
    <div class="columns is-centered">
      <div class="column">
        <figure>
          <div class="main-image">

          </div>
        </figure>
      </div>
    </div>
  </section>
