
<% if @noodle.errors.any? %>
<div class="notification is-danger">
  <!--pluralizeは英語の単数形や複数形を判定してくれるもの-->
  <h2><%= pluralize(@noodle.errors.count, "error") %>prohibited this object from being saved: not successfully</h2>
  <ul>
    <% @noodle.errors.full_messages.each do |message|%>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6 is-10-mobile is-10-tablet is-6-desktop">
        <%= form_for @noodle do |f| %>
          <div class="field">
            <%= f.label :title, "ラーメン屋", class: "label" %>
            <%= f.text_field :title, class: "input" %>
          </div>

          <div class="field">
            <%= f.label :body, "紹介文", class: "label" %>
            <%= f.text_area :body, class: "textarea" %>
          </div>

          <div class="field">
            <%= f.label :image, "写真", class: "label" %>
            <%= f.attachment_field :image, class: "input" %>
          </div>

          <div class="field">
            <%= f.label :address, "住所", class: "label" %>
            <%= f.text_field :address, class: "input" %>
          </div>

          <div class="field">
            <%= f.label :url, "ラーメンサイトURL", class: "label" %>
            <%= f.text_field :url, class: "input" %>
          </div>

          <%= f.submit '投稿', class: "button is-success" %>
        <% end %>
      </div>
    </div>
  </div>
</section>
