<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
            <%= attachment_image_tag @noodle, :image %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= @noodle.title %></p>
              </div>
                <div class="media-right">
                  <div class="title">
                    <div class="favorite_button_<%= @noodle.id %>">
                    <%= render "favorites/favorite", favorite: @favorite, noodle: @noodle %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="content">
                <% @noodle.tags.each do |tag| %>
                  <span class="vision"><%= tag.name %></span>
                <% end %>
                <div class="content average-score">
                  <div class="star-rating mb-2">
                    <div class="star-rating-front" style="width: <%= @noodle.review_score_percentage %>%">
                      ★★★★★
                    </div>
                    <div class="star-rating-back">
                      ★★★★★
                    </div>
                  </div>
                  <div class="average-score-display ml-3 pt-2">
                    <%= @noodle.avg_score %>点（<%= @noodle.reviews.count %>件のレビュー）
                  </div>
                </div>
              </div>

            <div class="content">
              <table class="table is-narrow">
                <tr>
                  <th>紹介文</th>
                </tr>
                <tr>
                  <td><%= simple_format @noodle.body %></td>
                </tr>
              </table>
              <% if @noodle.user.id == current_user.id %>
              <%= link_to "編集画面へ", edit_noodle_path(@noodle), class: "button is-success" %>
              <% end %>
              <!--もしadminカラムを持っていたらってどうやって書く？-->
              <% if current_user.admin %>
              <%= link_to "削除する", noodle_path(@noodle), method: :delete, data: { confirm: "本当に削除しますか?"}, class: "button is-danger" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>



      <div class="column is-4">
        <article class="panel is-link">
            <p class="panel-heading">
            By <%= @noodle.user.username %>
            </p>
        <div class="panel-block">
            <p class="control">
            <%= @noodle.user.profile %>
            </p>
        </div>
          <%= link_to user_path(@noodle.user), class: "panel-block" do %>
          <span class="panel-icon">
            <i class="fas fa-user" aria-hidden="true"></i>
          </span>
          <%= @noodle.user.username %> さんのページへ
          <% end %>
        </article>
        <%= render 'reviews/form', review: @review, noodle: @noodle %>


<style>
#map_container {
  clear: both;
  width: 90%;
  padding: 4px;
  border: 1px solid #CCC;
}
#map_canvas {   /* 高さ（と幅）を指定しないと地図は表示されない */
  width: 112%;
  height: 350px;
}
#url, #zoom {
  display: none;  /* 非表示 */
}
/* 情報ウィンドウ（マーカーをクリックすると表示される領域）内 */
#map_content {
  width: 250px;
  height: 70px;
}
</style>
</head>
<body>
<div id="map_info">
  <p id="venue"><%= @noodle.title %></p>
  <p id="address">東京都墨田区押上１−１−２</p>
  <p id="url"><a href="http://www.tokyo-skytree.jp/" target="_blank"></a></p>
  <p id="zoom">17</p>
</div>
<div id="map_container">
  <div id="map_canvas"></div>
</div>
<!-- jQuery の読み込み -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
function initMap() {
  jQuery(function($){
    var map, map_center;
    //初期のズーム レベル（指定がなければ 16）
    var zoom = $("#zoom").text() ?  parseInt($("#zoom").text()): 16;
    //マーカーのタイトル
    var title = $('#venue').text();

    //マップ生成のオプション
    //center は Geolocation から取得して後で設定
    var opts = {
      zoom: zoom,
      mapTypeId: "roadmap"  //初期マップ タイプ
    };

    //マップのインスタンスを生成
    map = new google.maps.Map(document.getElementById("map_canvas"), opts);

    //ジオコーディングのインスタンスの生成
    var geocoder = new google.maps.Geocoder();

    var address = $('#address').text();
    var my_reg = /〒\s?\d{3}(-|ー)\d{4}/;
    //郵便番号を含めるとおかしくなる場合があったので、郵便番号は削除
    address = address.replace(my_reg, '');

    //geocoder.geocode() にアドレスを渡して、コールバック関数を記述して処理
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status === 'OK' && results[0]) {
        //results[0].geometry.location に緯度・経度のオブジェクトが入っている
        map_center = results[0].geometry.location;
        //地図の中心位置を設定
        map.setCenter(map_center);
        //マーカーのインスタンスを生成
        var marker = new google.maps.Marker({
          //マーカーを配置する Map オブジェクトを指定
          map: map,
          //マーカーの初期の場所を示す LatLng を指定
          position: map_center,
          //マーカーをアニメーションで表示
          animation: google.maps.Animation.DROP,
          title: title
        });

        //情報ウィンドウに表示するコンテンツを作成
        //urlが指定してあればリンクつきのタイトルと住所を表示（URLがない場合もあるため）
        var url = $("#url a").attr('href');
        var content;
        if (url) {
          content = '<div id="map_content"><p><a href="' + url + '" target="_blank"> ' + title + '</a><br />' + address + '</p></div>';
        }else {
          //urlが指定してなければ、リンクなしのタイトルと住所を表示
          content = '<div id="map_content"><p>' + title + '<br />' + address + '</p></div>';
        }

        //情報ウィンドウのインスタンスを生成
        var infowindow = new google.maps.InfoWindow({
          content: content,
        });

        //marker をクリックすると情報ウィンドウを表示(リスナーの登録）
        google.maps.event.addListener(marker, 'click', function() {
          //第2引数にマーカーを指定して紐付け
          infowindow.open(map, marker);
        });
      } else {
        alert("住所から位置の取得ができませんでした。: " + status);
      }
    });
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUiYs_Gpe6Ctqkn-xAyNmzf4jTurA8a-s&callback=initMap" async defer></script>
<!-- YOUR_API_KEYの部分は取得した APIキーで置き換えます。 -->
</body>
</html>


      </div>
    </div>
  </div>
</section>