<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-12-mobile is-12-tablet is-7-desktop">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
            <%= attachment_image_tag @noodle, :image %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= @noodle.title %></p>
              </div>
                <div class="media-right">
                  <div class="title">
                    <div class="favorite_button_<%= @noodle.id %>">
                    <%= render "favorites/favorite", favorite: @favorite, noodle: @noodle %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="content">
                <% @noodle.tags.each do |tag| %>
                  <span class="vision"><%= tag.name %></span>
                <% end %>
                <div class="content average-score">
                  <div class="star-rating mb-2">
                    <div class="star-rating-front" style="width: <%= @noodle.review_score_percentage %>%">
                      ★★★★★
                    </div>
                    <div class="star-rating-back">
                      ★★★★★
                    </div>
                  </div>
                  <div class="average-score-display ml-3 pt-2">
                    <%= @noodle.avg_score %>点（<%= @noodle.reviews.count %>件のレビュー）
                  </div>
                </div>
              </div>

            <div class="content">
              <table class="table is-narrow">
                <tr>
                  <th>紹介文</th>
                </tr>
                <tr>
                  <td><%= simple_format @noodle.body %></td>
                </tr>
              </table>
              <% if @noodle.user.id == current_user.id %>
              <%= link_to "編集画面へ", edit_noodle_path(@noodle), class: "button is-success" %>
              <% end %>
              <!--もしadminカラムを持っていたらってどうやって書く？-->
              <% if current_user.admin %>
              <%= link_to "削除する", noodle_path(@noodle), method: :delete, data: { confirm: "本当に削除しますか?"}, class: "button is-danger" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>



      <div class="column is-12-mobile is-12-tablet is-4-desktop">
        <article class="panel is-link">
            <p class="panel-heading">
            By <%= @noodle.user.username %>
            </p>
        <div class="panel-block">
            <p class="control">
            <%= @noodle.user.profile %>
            </p>
        </div>
          <%= link_to user_path(@noodle.user), class: "panel-block" do %>
          <span class="panel-icon">
            <i class="fas fa-user" aria-hidden="true"></i>
          </span>
          <%= @noodle.user.username %> さんのページへ
          <% end %>
        </article>
        <%= render 'reviews/form', review: @review, noodle: @noodle %>


<% if  %>
<div id="map_info">
  <p id="venue"><%= @noodle.title %></p>
  <p id="address"><%= @noodle.address %></p>
  <p id="url"><a href="<%= @noodle.url %>" target="_blank"></a></p>
  <p id="zoom">17</p>
</div>
<div id="map_container">
  <div id="map_canvas"></div>
</div>
<% end %>

<script>
function initMap() {
  jQuery(function($){
    var map, map_center;
    var zoom = $("#zoom").text() ?  parseInt($("#zoom").text()): 16;
    var title = $('#venue').text();

    var opts = {
      zoom: zoom,
      mapTypeId: "roadmap"
    };

    map = new google.maps.Map(document.getElementById("map_canvas"), opts);

    var geocoder = new google.maps.Geocoder();

    var address = $('#address').text();
    var my_reg = /〒\s?\d{3}(-|ー)\d{4}/;
    address = address.replace(my_reg, '');

    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status === 'OK' && results[0]) {
        map_center = results[0].geometry.location;
        map.setCenter(map_center);
        var marker = new google.maps.Marker({
          map: map,
          position: map_center,
          animation: google.maps.Animation.DROP,
          title: title
        });

        var url = $("#url a").attr('href');
        var content;
        if (url) {
          content = '<div id="map_content"><p><a href="' + url + '" target="_blank"> ' + title + '</a><br />' + address + '</p></div>';
        }else {
          content = '<div id="map_content"><p>' + title + '<br />' + address + '</p></div>';
        }

        var infowindow = new google.maps.InfoWindow({
          content: content,
        });

        google.maps.event.addListener(marker, 'click', function() {
          infowindow.open(map, marker);
        });
      }
      // else {
      //   alert("住所から位置の取得ができませんでした。: " + status);
      // }
    });
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_API_KEY"] %>&callback=initMap" async defer></script>


      </div>
    </div>
  </div>
</section>