<section class="section mt-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <div class="card mb-6">
          <header class="card-header">
            <p class="card-header-title">
              <%= @noodle.title %>
            </p>
          </header>
          <div class="card-content">
            <div class="content average-score">
              <div class="star-rating mb-2">
                <div class="star-rating-front" style="width: <%= @noodle.review_score_percentage %> %">★★★★★</div>
                  <div class="star-rating-back">★★★★★</div>
              </div>
              <div class="average-score-display ml-3 pt-2">
                <%= @noodle.avg_score %>点（<%= @noodle.reviews.count %>件のレビュー）
              </div>
            </div>
          	</div>
          	</div>

            <table class="table is-fullwidth has-text-centered">
          <thead>
            <tr>
              <th>ユーザー</th><th>点数</th><th>内容</th>
            </tr>
          </thead>
          <tbody>
            <% @reviews.each do |review| %>
             <tr>
               <td><%= review.user.username %></td>
               <td><%= review.score %></td>
               <td><%= review.content %></td>
              </tr>
              <% end %>
              <!--if文何が違う？-->
               <!--if @review.user.id == current_user.id -->
               <!--<td> link_to "編集する", edit_noodle_review_path(@review), class: "button is-warning" </td>-->
               <!--end -->
              <!--adminカラムを持っていたらってどうやって書く？-->
               <!--if @review.user.id == current_user.id -->
              <!--<td> link_to "削除する", noodle_review_path(@review), method: :delete, data: { confirm: "本当に削除しますか?"}, class: "button is-danger" </td>-->
               <!--end -->
        	  </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>



